<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
		<h1 class="font-weight-bold">Smart Contact Manager</h1>
		<p>Welcome to Smart Contact Manager, your intelligent solution for efficient contact organization and communication.</p>
		<p>Our cutting-edge platform is designed to streamline your contact management process, ensuring you stay connected with ease.</p>
		<p>Created By</p>
		<p>-Roshan Kumar Singh</p>
		<button class="btn bg-primary btn-me text-white"
		onclick="window.location.href='home'">Get Started</button>
	</div>
</section>
</body>
</html>